<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (All)</title>
</head>
<body>
    <h1>All Users</h1>
    <ul>
        {% for user in users %}
        <li>ID: {{user.id}} Email: {{user.email}}</li>
        {% endfor %}
    </ul>
    <a href="/users/create">Add a New User</a>
</body>
</html>

<!-- ------------------------------------------------------*--------------------------------------------------------- -->
<!-- ---------------------------------------------------*+++++*------------------------------------------------------ -->
<!-- ------------------------------------------------*___________*--------------------------------------------------- -->
<!-- ---------------------------------------------*#################*------------------------------------------------ -->
<!-- ------------------------------------------*_______________________*--------------------------------------------- -->
<!-- ---------------------------------------*+++++++++++++++++++++++++++++*------------------------------------------ -->
<!-- ------------------------------------*___________________________________*--------------------------------------- -->
<!-- ---------------------------------*#########################################*------------------------------------ -->
<!-- ------------------------------*_______________________________________________*--------------------------------- -->
<!-- ---------------------------*+++++++++++++++++++++++++++++++++++++++++++++++++++++*------------------------------ -->
<!-- ------------------------*___________________________________________________________*--------------------------- -->
<!-- ---------------------*###############################  ################################*------------------------ -->
<!-- ------------------*________________________________      _________________________________*--------------------- -->
<!-- ---------------*+++++++++++++++++++++++++++++++++          ++++++++++++++++++++++++++++++++++*------------------ -->
<!-- ------------*__________________________________              ___________________________________*--------------- -->
<!-- ---------*-----------------------------------         /\_/\    ------------------------------------*------------ -->
<!-- ------*____________________________________    ______/ o o \     _____________________________________*--------- -->
<!-- ---*-------------------------------------      /~____  =ø= /      ---------------------------------------*------ -->
<!-- *_____________________________________________(______)__m_m)________________________________________________*--- -->
<!-- ---*=====================================================================================================*------ -->
<!-- ------*_____________________________________ _______ ___   _ __________________________________________*-------- -->
<!-- ---------*==============================|   |   _   |   | | |       |===============================*----------- -->
<!-- ------------*___________________________|   |  |_|  |   |_| |    ___|____________________________*-------------- -->
<!-- ---------------*========================|   |       |      _|   |___==========================*----------------- -->
<!-- ------------------*_____________________|   |       |     |_|    ___|______________________*-------------------- -->
<!-- ---------------------*==============|       |   _   |    _  |   |___ ==================*------------------------ -->
<!-- ------------------------*___________|_______|__|_|__|___| |_|_______|_______________*--------------------------- -->
<!-- ---------------------------*===|       |       |  |_|  |       |       |  |  | |=*------------------------------ -->
<!-- ------------------------------*|  _____|    ___|       |_     _|   _   |   |_| |-------------------------------- -->
<!-- -------------------------------| |_____|   |___|       | |   | |  | |  |       |-------------------------------- -->
<!-- -------------------------------|_____  |    ___||     |  |   | |  |_|  |  _    |-------------------------------- -->
<!-- --------------------------------_____| |   |___|   _   | |   | |       | | |   |-------------------------------- -->
<!-- -------------------------------|_______|_______|__| |__| |___| |_______|_|  |__|-------------------------------- -->
<!-- ---------------------------------------------*=================*------------------------------------------------ -->
<!-- ------------------------------------------------*___________*--------------------------------------------------- -->
<!-- ---------------------------------------------------*=====*------------------------------------------------------ -->
<!-- ------------------------------------------------------*--------------------------------------------------------- -->    